.internalForm{
    margin: 300px 400px;
    border:1px solid blueviolet;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.externalBox{
display:flex;
flex-wrap:wrap;

}
